<div class="w3-row">
<div class="w3-third w3-container ">
  <ul class="w3-ul w3-tiny">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
</ul>
</div>
<div class="w3-third w3-container">
  
</div>
<div class="w3-third w3-container">
  <p>{{- site.description | escape -}}</p>
</div>
</div>
