<div >
     <div class="w3-bar w3-indigo w3-card w3-large navmaxwidth">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    
  </div>
</div>

<div id="demo" class="w3-bar-block w3-light-blue w3-card w3-hide w3-hide-large w3-hide-medium">
  <a href="#" class="w3-bar-item w3-button">HOME</a>
  <a href="#" class="w3-bar-item w3-button">BAND</a>
  <a href="#" class="w3-bar-item w3-button">TOUR</a>
  <a href="#" class="w3-bar-item w3-button">CONTACT</a>
  <div class="w3-bar-item w3-button" onclick="myAccFunc()">
  MORE <i class="fa fa-caret-down"></i></div>
  <div id="demoAcc" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link1</a>
    <a href="#" class="w3-bar-item w3-button">Link2</a>
  </div>
</div>



<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
     
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}
</script>
