 <div class="w3-indigo w3-card">
      <div class="w3-bar w3-indigo w3-card w3-large navmaxwidth">
     <a  class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
     {% for pagge in site.pages %}
      {%- if pagge.title -%}
      <a href="{{ pagge.url | relative_url}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">{{ pagge.title }}</a>
      {%- endif -%}
    {% endfor %}

       
       
       
       
       
   
   
    
  </div>
</div>
 
 <div id="demo" class="w3-bar-block w3-light-blue w3-card w3-hide w3-hide-large w3-hide-medium">
    
    {% for pagge in site.pages %}
      {%- if pagge.title -%}
      <a href="{{ pagge.url | relative_url}}" class="w3-bar-item w3-button">{{ pagge.title }}</a>
      {%- endif -%}
    {% endfor %}

  
  
  
  
  
  
</div>







<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
     

</script>
